<title>Salesforce Lighnting Out on Heroku</title>
<script src="https://harshflow-developer-edition.ap5.force.com/partner/lightning/lightning.out.js"></script> <!-- Replace with own Community URL -->
<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
