<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <body>

        <!-- Lightning DOM Tag -->
        <div id="lightningLocator" class="lightningLocator"></div>

        <% include ../partials/lightning-out.ejs %>
    </body>
</html>
